@font-face {
  font-family: "Times New Roman";
  font-family: "Lucida Sans";
  font-family: "Lucida Sans Regular";
  font-family: "oswald";
  font-family: "roboto";
  font-family: "sans-serif";
  src: url("fonts/oswald-variablefont_wght.ttf") format("truetype");
  src: url("fonts/roboto-regular-webfont.ttf") format("truetype");
}
body {
  background-color: #3d3b30;
  color: white;
}
img {
  max-width: 100%;
  padding: 20px 0px;
}
header,
ul,
nav,
li {
  background-color: #f5b841;
  border-radius: 15px 15px;
  color: rgb(255, 255, 255);
  padding: 0px;
  margin-left: 10px;
  text-align: left;
}

.cta {
  color: rgb(0, 0, 0);
  background-color: #f5b841;
  padding: 15px 10px;
  margin: 1em;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  border: double #000;
}
h1,
h2,
h3 {
  text-align: left;
  font-family: roboto, sans-serif, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  text-align: left;
  word-spacing: 0.5em;
  line-height: 1.5em;
  font-family: "oswald", sans-serif, "Times New Roman", Times, serif;
}
section {
  border: 2px solid #f5b841;
  padding: 5px;
  margin: 5px;
}
a {
  color: white;
}
